[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
sort_pipfile = true

[packages]
click = "*"
pytest = "*"
requests = "*"
xmltodict = "*"
python-dateutil = "*"
orjson = "*"
rich = "*"
pdfplumber = "*"
PyPDF2 = "*"
PyMuPDF = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.13"
